<h2>Take a pill</h2>

<p><%= @user.id %></p>
<form class="form-wrapper" method="post" action="/taken">
    <label for="quantity">Quantity: </label>
    <input type="number" name="quantity" id="quantity">

    <label for="pills_select">Select the pill you want to take</label>
    <select class="" name="pill_id" id="pills_select">
      <% @pills.each do |pill| %>
        <option value="<%= pill.id %>"><%= pill.name %>, <%= pill.strength %>, <%= pill.type %></option>
      <% end %>
    </select

    <% @selected_user = @user.id %>

    <input type="hidden" name="user_id" value="1">
    <input type="hidden" name="time_taken" value="<%= Time.now %>">
    <input type="submit" value="Take Pill">

    <p><%= @selected_user %></p>

</form>
