<h2><%= @user.username %> take a pill</h2>

<form class="add-form" method="post" action="/taken">

    <input type="hidden" name="user_id" value="<%= @user.id %>">

    <% time = Time.now %>
    <input type="hidden" name="time_taken" value="<%= time %>">

    <label for="quantity">Quantity: </label>
    <input type="number" name="quantity" id="quantity">

    <label for="pills_select">Select the pill you want to take</label>
    <select class="" name="pill_id" id="pills_select">
      <% @pills.each do |pill| %>
        <option value="<%= pill.id %>"><%= pill.name %>, <%= pill.strength %>, <%= pill.type %></option>
      <% end %>
    </select>
    
    <input type="submit" id="submit-btn" value="Take Pill">

</form>
