<h1><%= @user.username %></h1>
<h2><%= @user.age %></h2>
<h3><a href="<%= @user.id %>/take_pill">Take a pill</a></h3>
<p><% for pills in @user.pills %>
  <% time_sting =  Taken.find_by_pill_id(pills.id).time_taken %>
  <% time = Time.parse(time_sting) %>
  <%= pills.name %>, <%= pills.type %>, <%= pills.strength %>, QTY: <%= Taken.find_by_pill_id(pills.id).quantity %>, TIME: <%= time.strftime("%H:%M:%S %d-%m-%Y") %>
  <hr>
  <% end %>
</p>
