<h1><%= @user.username %>, <%= @user.age %></h1>

<h3 class="user_links">      
  <a title="Take a pill" href="/users/<%= @user.id %>/take_pill"><i class="fas fa-user-check"></i></a>
  <a title="Edit the user" href="/users/<%= @user.id %>/edit"><i class="fas fa-user-edit"></i></a>
</h3>

<p><% for pills in @user.pills %>
  <% time_sting =  Taken.find_by_pill_id(pills.id).time_taken %>
  <% time = Time.parse(time_sting) %>
      <div class="card">
        <div class="card-top">
          <img src="/pills.jpg" alt="clouds with rays of the sun">
          <h3><%= pills.name %></h3>
        </div>
        <div class="card-content">
          <p><%= pills.type %></p>
          <p>Strength: <%= pills.strength %></p>
          <p>QTY: <%= Taken.find_by_pill_id(pills.id).quantity %></p>
          <p><%= time.strftime("%H:%M:%S %d-%m-%Y") %></p>
        </div>
      </div>
  <% end %>
</p>